__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
env/
.env/
.venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
*.swp
.ipynb_checkpoints

.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

pics/

logs/
*.json

*.csv

*.png